In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
pd.options.plotting.backend = 'plotly'

In [12]:
df_installed_cantons = pd.read_csv('../../Data/all_cantons_installed_production.csv', index_col=0)
df_installed_cantons.head()

       BeginningOfOperation  TotalPower MainCategory  CumulativePower
Canton
LU               1863-01-01       200.0    maincat_1            200.0
LU               1863-01-01         0.0    maincat_2              0.0
LU               1863-01-01         0.0    maincat_3              0.0
LU               1863-01-01         0.0    maincat_4              0.0
LU               1886-01-01       740.0    maincat_1            940.0

In [13]:
# Sort by BeginningOfOperation
df_installed_cantons = df_installed_cantons.sort_values(by='BeginningOfOperation')
df_installed_cantons.head(60)

       BeginningOfOperation  TotalPower MainCategory  CumulativePower
Canton
LU               1863-01-01       200.0    maincat_1            200.0
LU               1863-01-01         0.0    maincat_2              0.0
LU               1863-01-01         0.0    maincat_3              0.0
LU               1863-01-01         0.0    maincat_4              0.0
LU               1886-01-01       740.0    maincat_1            940.0
LU               1886-01-01         0.0    maincat_2              0.0
LU               1886-01-01         0.0    maincat_3              0.0
LU               1886-01-01         0.0    maincat_4              0.0
BE               1888-01-01         0.0    maincat_3              0.0
BE               1888-01-01         0.0    maincat_4              0.0
SO               1888-01-01       240.0    maincat_1            240.0
SO               1888-01-01         0.0    maincat_2              0.0
SO               1888-01-01         0.0    maincat_3              0.0
SO               1888-01-01         0.0    maincat_4              0.0
BE               1888-01-01         0.0    maincat_2              0.0
BE               1888-01-01       120.0    maincat_1            120.0
NW               1890-01-01         0.0    maincat_4              0.0
NW               1890-01-01       240.0    maincat_1            240.0
NW               1890-01-01         0.0    maincat_2              0.0
NW               1890-01-01         0.0    maincat_3              0.0
AG               1892-01-01         0.0    maincat_2              0.0
AG               1892-01-01       120.0    maincat_1            120.0
AG               1892-01-01         0.0    maincat_3              0.0
AG               1892-01-01         0.0    maincat_4              0.0
SG               1893-01-01         0.0    maincat_4              0.0
SG               1893-01-01         0.0    maincat_3              0.0
SG               1893-01-01         0.0    maincat_2              0.0
SG               1893-01-01       550.0    maincat_1            550.0
TI               1894-01-01         0.0    maincat_2              0.0
TI               1894-01-01         0.0    maincat_3              0.0
TI               1894-01-01       950.0    maincat_1            950.0
TI               1894-01-01         0.0    maincat_4              0.0
SG               1894-02-01         0.0    maincat_4              0.0
SG               1894-02-01         0.0    maincat_3              0.0
SG               1894-02-01       300.0    maincat_1            850.0
SG               1894-02-01         0.0    maincat_2              0.0
JU               1894-07-01      7550.0    maincat_1           7550.0
JU               1894-07-01         0.0    maincat_2              0.0
JU               1894-07-01         0.0    maincat_3              0.0
JU               1894-07-01         0.0    maincat_4              0.0
AG               1894-09-30     16000.0    maincat_1          16120.0
AG               1894-09-30         0.0    maincat_4              0.0
AG               1894-09-30         0.0    maincat_3              0.0
AG               1894-09-30         0.0    maincat_2              0.0
VD               1895-01-01         0.0    maincat_4              0.0
VD               1895-01-01         0.0    maincat_2              0.0
VD               1895-01-01      2220.0    maincat_1           2220.0
VD               1895-01-01         0.0    maincat_3              0.0
FR               1896-01-01         0.0    maincat_4              0.0
FR               1896-01-01         0.0    maincat_2              0.0
FR               1896-01-01     27800.0    maincat_1          27800.0
FR               1896-01-01         0.0    maincat_3              0.0
ZG               1897-01-01         0.0    maincat_4              0.0
ZG               1897-01-01         0.0    maincat_3              0.0
ZG               1897-01-01      1747.0    maincat_1           1747.0
ZG               1897-01-01         0.0    maincat_2              0.0
LU               1898-10-17         0.0    maincat_3              0.0
LU               1898-10-17         0.0    maincat_4              0.0
LU               1898-10-17         0.0    maincat_2              0.0
LU               1898-10-17       100.0    maincat_1           1040.0

In [14]:
# transform the index column into a normal column
df_installed_cantons.reset_index(level=0, inplace=True)

  Canton BeginningOfOperation  TotalPower MainCategory  CumulativePower
0     LU           1863-01-01       200.0    maincat_1            200.0
1     LU           1863-01-01         0.0    maincat_2              0.0
2     LU           1863-01-01         0.0    maincat_3              0.0
3     LU           1863-01-01         0.0    maincat_4              0.0
4     LU           1886-01-01       740.0    maincat_1            940.0

In [15]:
# Create a list of all cantons
cantons = df_installed_cantons['Canton'].unique()
cantons

array(['LU', 'BE', 'SO', 'NW', 'AG', 'SG', 'TI', 'JU', 'VD', 'FR', 'ZG',
       'GL', 'ZH', 'TG', 'GR', 'OW', 'UR', 'VS', 'NE', 'AR', 'SZ', 'BS',
       'GE', 'BL', 'SH', 'AI'], dtype=object)

In [ ]:
# For each existing BeginningOfOperation, insert a new row for each canton with the previous installed capacity of the canton